# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
title: ipsedigit - Tech News & Insights
email: ipsedigitmail@gmail.com
description: >- 
  Daily curated tech news from Hacker News. AI, Machine Learning, Programming, 
  Cloud Computing, DevOps, and Software Engineering trends.
baseurl: ""
url: "https://ipsedigit.github.io"
lang: en

# Social / SEO
twitter:
  username: ipsedigit
  card: summary_large_image
social:
  name: ipsedigit
  links:
    - https://github.com/ipsedigit
github_username: ipsedigit

# SEO defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "ipsedigit"
      image: /assets/images/og-default.png
  - scope:
      path: ""
      type: "pages"
    values:
      image: /assets/images/og-default.png

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
